@import 'bootstrap/dist/css/bootstrap.min.css';

*{
  margin:0;
  padding:0;
  vertical-align: baseline;
}
#quote-box{
  margin:0;
  padding:0;
  display: flex;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #6799B4;
  
  }

#quote_text{
  
  background-color: white;
  height: 300px;
  width: 600px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin:auto;
  color: purple;
  opacity: 1; 
  
}

h1{
  font-size: 26px;
}
p{
  font-size: 20px;
  text-align:end;
  width:100%;
  padding-right: 20px;
  
}

.buttons{
  
  padding-top: 50px;
  display: flex;
width:100%;
  justify-content: space-between;
  
 }

 Button{
   gap: 3em;
 }

i{
  color: white;

}
#right{
  margin: 0;
  padding-right: 20px;
  text-align: right;
}

